{% extends "layouts/main.html" %}

{% set pageName="A-Z" %}

{% block content %}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ govukPanel({
        titleText: "Companies House IDV style guide",
        html: "",
        classes: "blue"
      }) }}


<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <h2 class="govuk-heading-m">A to Z</h2>
          <p class="govuk-body-l">The Companies House IDV style guide covers style, spelling and grammar conventions for all content published on Companies House, arranged alphabetically.</p>
        </div>
      </div>

{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{{ govukAccordion({
  id: "accordion-default",
  items: [
    {
      heading: {
        text: "A"
      },
      content: {
        html: '
        <p class="govuk-body"><strong>Anti-Money Laundering (AML) membership number  </strong></p><p class="govuk-body">Title case for Anti-Money Laundering (AML), lower case for membership number. Explain the acronym at first use, then abbreviate to AML membership number. </p>
        <br>
        <p class="govuk-body"><strong>Anti-Money Laundering (AML) registration</strong></p><p class="govuk-body">Title case for Anti-Money Laundering (AML), lower case for registration. Explain the acronym at first use, then abbreviate to AML registration.</p>
        <br>
        <p class="govuk-body"><strong>authorised agent account</strong></p><p class="govuk-body">Lower case. </p>
        <br>
        <p class="govuk-body"><strong>authorised agent number</strong></p><p class="govuk-body">Lower case. </p>
        <br>
        <p class="govuk-body"><strong>Authorised Corporate Service Providers (ACSPs) </strong></p><p class="govuk-body">See ‘Companies House authorised agent’. </p>'
      }
    },


    {
      heading: {
        text: "B"
      },
      content: {
        html: '<p class="govuk-body">You can buy:</p>
              <ul class="govuk-list govuk-list--bullet">
                  <li>apples</li>
                  <li>oranges</li>
                  <li>pears</li>
              </ul>'
      }
    },


    {
      heading: {
        text: "C"
      },
      content: {
        html: ' <p class="govuk-body"><strong>Companies House authorised agent </strong></p>
        <p class="govuk-body">Title case for Companies House, lower case for authorised agent. Can be shortened to ‘authorised agent’ after being used in full initially. </p>
        <p class="govuk-body">Authorised agents are referred to in legislation as Authorised Corporate Service Providers (ACSPs). Where possible, use ‘authorised agent’ instead. </p>
        <p class="govuk-body">When using for the first time, you could say: <br>…Companies House authorised agent. This is also known as an Authorised Corporate Service Provider (ACSP).<br> </p>
        <p class="govuk-body"><strong>Companies House personal code </strong></p>
        <p class="govuk-body">Title case for Companies House, lower case for personal code. </p><p class="govuk-body">Can be shortened to ‘personal code’ after being used in full initially.  </p>'
      }
    },
    {
      heading: {
        text: "D"
      },
      content: {
        html: ' <p class="govuk-body"><strong> </strong></p>
        <p class="govuk-body"> </p>'
      }
    },
    {
      heading: {
        text: "E"
      },
      content: {
        html: ' <p class="govuk-body"><strong> </strong></p>
        <p class="govuk-body"> </p>'
      }
    },
    {
      heading: {
        text: "F"
      },
      content: {
        html: ' <p class="govuk-body"><strong>filer</strong><br></p>
        <p class="govuk-body">Lowercase.</p><p class="govuk-body">How to describe it in content:  <br>

          This is someone who files on behalf of someone else at Companies House.</p><p class="govuk-body">In the past, they were known as ‘presenters’. Where possible, use ‘filer’ or ‘someone who files for a company’ instead.</p>'
      }
    },
    {
      heading: {
        text: "G"
      },
      content: {
        html: ' <p class="govuk-body"><strong>GOV.UK One Login</strong></p>
        <p class="govuk-body">Always use the full name: GOV.UK One Login. </p>
        <p class="govuk-body">Use GOV.UK One Login as a noun.</p>
        '
      }
    },
    {
      heading: {
        text: "H"
      },
      content: {
        html: ' <p class="govuk-body"><strong> </strong></p>
        <p class="govuk-body"> </p>'
      }
    },
    {
      heading: {
        text: "I"
      },
      content: {
        html: ' <p class="govuk-body"><strong> </strong></p>
        <p class="govuk-body"> </p>'
      }
    },
    {
      heading: {
        text: "J"
      },
      content: {
        html: ' <p class="govuk-body"><strong> </strong></p>
        <p class="govuk-body"> </p>'
      }
    },
    {
      heading: {
        text: "K"
      },
      content: {
        html: ' <p class="govuk-body"><strong> </strong></p>
        <p class="govuk-body"> </p>'
      }
    },
    {
      heading: {
        text: "L"
      },
      content: {
        html: ' <p class="govuk-body"><strong>list of Companies House authorised agents </strong></p>
        <p class="govuk-body">Title case for Companies House, lower case for authorised agents and ‘list’.  </p>'
      }
    },
    {
      heading: {
        text: "M"
      },
      content: {
        html: ' <p class="govuk-body"><strong> </strong></p>
        <p class="govuk-body"> </p>'
      }
    },
    {
      heading: {
        text: "N"
      },
      content: {
        html: ' <p class="govuk-body"><strong> </strong></p>
        <p class="govuk-body"> </p>'
      }
    },
    {
      heading: {
        text: "O"
      },
      content: {
        html: ' <p class="govuk-body"><strong> </strong></p>
        <p class="govuk-body"> </p>'
      }
    },
    {
      heading: {
        text: "P"
      },
      content: {
        html: ' <p class="govuk-body"><strong> </strong></p>
        <p class="govuk-body"> </p>'
      }
    },
    {
      heading: {
        text: "Q"
      },
      content: {
        html: ' <p class="govuk-body"><strong> </strong></p>
        <p class="govuk-body"> </p>'
      }
    },
    {
      heading: {
        text: "R"
      },
      content: {
        html: ' <p class="govuk-body"><strong> </strong></p>
        <p class="govuk-body"> </p>'
      }
    },
    {
      heading: {
        text: "S"
      },
      content: {
        html: ' <p class="govuk-body"><strong> </strong></p>
        <p class="govuk-body"> </p>'
      }
    },
    {
      heading: {
        text: "T"
      },
      content: {
        html: ' <p class="govuk-body"><strong> </strong></p>
        <p class="govuk-body"> </p>'
      }
    },
    {
      heading: {
        text: "U"
      },
      content: {
        html: ' <p class="govuk-body"><strong> </strong></p>
        <p class="govuk-body"> </p>'
      }
    },
    {
      heading: {
        text: "V"
      },
      content: {
        html: ' <p class="govuk-body"><strong> </strong></p>
        <p class="govuk-body"> </p>'
      }
    },
    {
      heading: {
        text: "W"
      },
      content: {
        html: ' <p class="govuk-body"><strong> </strong></p>
        <p class="govuk-body"> </p>'
      }
    },
    {
      heading: {
        text: "X"
      },
      content: {
        html: ' <p class="govuk-body"><strong> </strong></p>
        <p class="govuk-body"> </p>'
      }
    },
    {
      heading: {
        text: "Y"
      },
      content: {
        html: ' <p class="govuk-body"><strong> </strong></p>
        <p class="govuk-body"> </p>'
      }
    },
    {
      heading: {
        text: "Z"
      },
      content: {
        html: ' <p class="govuk-body"><strong> </strong></p>
        <p class="govuk-body"> </p>'
      }
    }
  ]
}) }}






{% endblock %}