 {% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <h1 class="govuk-heading-xl">Front-end filing – CS01, PSC01, AD01, SCRS</h1>
     
    <h2 class="govuk-heading-m">Prototype details</h2>

    <h3 class="govuk-heading-s">Figma – CS01, PSC01, AD01</h2>

    <p class="govuk-body">
    <a href="https://www.figma.com/design/On2tY6ofWIN8DQC3zVy3tW/IDV-Cross-Service?node-id=4981-295&t=qKxrq4fNnnSqECFA-0" class="govuk-link--no-visited-state">https://www.figma.com/design/On2tY6ofWIN8DQC3zVy3tW/IDV-Cross-Service?node-id=4981-295&t=qKxrq4fNnnSqECFA-0</a>
      </p>

    <p>No password needed</p>
    <p>You may need to create an account to access the Figma space. The Figma boards for each service are listed in the top left corner.</p>
      
    <h3 class="govuk-heading-s">SCRS</h2>

    <p class="govuk-body">
    <a href="https://www.figma.com/design/On2tY6ofWIN8DQC3zVy3tW/IDV-Cross-Service?node-id=4981-295&t=qKxrq4fNnnSqECFA-0" class="govuk-link--no-visited-state">https://set-up-a-company-idv-prototype-f317085f854c.herokuapp.com/</a>
      </p>

    <p><strong>Password:</strong> setup-idv</p>


    <h2 class="govuk-heading-m">Description</h2>

<p>Directors and PSCs need to provide their Companies House personal code for each role they hold at each company they're involved in. This is so that we can connect their verified identity to the correct name on our records.</p>

<p>There are different ways of doing this depending on their role, and on when they were appointed.</p>

<p>CS01 (confirmation statement) – existing directors</p>
<p>AD01 (appoint a director) – new directors of existing companies</p>
<p>PSC01 (notification of a PSC) – new PSCs of existing companies</p>
<p>SCRS (register a company) – new directors and PSCs of new companies</p>

    




  </div>
</div>
{% endblock %}