{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <h1 class="govuk-heading-xl">IDAM - account migration to GOV.UK One Login</h1>
     
    <h2 class="govuk-heading-m">Prototype details</h2>

    <p class="govuk-body">
    <a href="https://find-update-company-info.herokuapp.com/" class="govuk-link--no-visited-state">https://find-update-company-info.herokuapp.com/</a>
      </p>

    <p><strong>Password:</strong> find-update-company
    </p>
      


    <h2 class="govuk-heading-m">Description</h2>

    <p>IDAM stands for Identity Access Management. The project is responsible for the implementation of GOV.UK One Login, which is being rolled out across all government departments. </p>

<p>In the future, users will be able to use GOV.UK One Login using the same email address and password to access all government services. GOV.UK One Login will eventually replace the current way to sign in to a Companies House account and WebFiling. </p>


  
    




  </div>
</div>
{% endblock %}