{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <h1 class="govuk-heading-xl">
      IDV services</h1>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/idv-services/verify-your-identity" class="govuk-link govuk-link--no-visited-state">Verify your identity for Companies House</a>
        </li>
        <li>
          <a href="/idv-services/apply-to-register-as-agent" class="govuk-link govuk-link--no-visited-state">Apply to register as a Companies House authorised agent</a>
        </li>
        <li>
          <a href="/idv-services/tell-ch-verified-identity" class="govuk-link govuk-link--no-visited-state">Tell Companies House you have verified someone’s identity </a>
        </li>
        <li>
          <a href="/idv-services/provide-idv-details" class="govuk-link govuk-link--no-visited-state">Provide identity verification details for a PSC or relevant legal entity
        </li>
        <li>
          <a href="/idv-services/enforcement-penalties" class="govuk-link govuk-link--no-visited-state">Placeholder</a>
        </li>
        <li>
          <a href="/idv-services/security-fraud" class="govuk-link govuk-link--no-visited-state">Placeholder</a>
        </li>
        <li>
          <a href="/idv-services/evidence" class="govuk-link govuk-link--no-visited-state">Placeholder </a>
        </li>
        <li>
          <a href="/idv-services/relevant-officer" class="govuk-link govuk-link--no-visited-state">Placeholder</a>
        </li>
        <li>
          <a href="/idv-services/dates" class="govuk-link govuk-link--no-visited-state">Placeholder</a>
        </li>
  </ul>

 

  </div>
</div>
{% endblock %}