{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <h1 class="govuk-heading-xl">Provide identity verification details for a person with significant control</h1>
     
    <h2 class="govuk-heading-m">Prototype details</h2>

    <p class="govuk-body">
    <a href="https://submit-psc-statement-prototype-8cf558a5f32b.herokuapp.com/" class="govuk-link--no-visited-state">https://submit-psc-statement-prototype-8cf558a5f32b.herokuapp.com/</a>
      </p>

    <p><strong>Password:</strong> psc_statement </p>
      


    <h2 class="govuk-heading-m">Description</h2>

<p>All PSCs need to provide their Companies House personal code. This is so that we can connect their verified identity to the PSC name on our records.</p>
  
<p>They need to do this even if they've already provided their code for other roles at the same company (for example, if they're also a director), or for roles they hold at other companies.</p>

<p>This service can be used by a PSC providing their own personal code, or by someone doing it on their behalf.</p>
    




  </div>
</div>
{% endblock %}