{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <h1 class="govuk-heading-xl">Provide identity verification details for a PSC or relevant legal entity</h1>
     
    <h2 class="govuk-heading-m">Prototype details</h2>

    <p class="govuk-body">
    <a href="https://" class="govuk-link--no-visited-state">Placeholder</a>
      </p>

    <p><strong>Password:</strong> Placeholder  </p>
      


    <h2 class="govuk-heading-m">Description</h2>

<p>Placeholder</p>
    




  </div>
</div>
{% endblock %}