{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <h1 class="govuk-heading-xl">Verify your identity for Companies House</h1>
     
    <h2 class="govuk-heading-m">Prototype details</h2>

    <p class="govuk-body">
    <a href="https://prove-your-identity-prototype.herokuapp.com/" class="govuk-link--no-visited-state">https://prove-your-identity-prototype.herokuapp.com/</a>
      </p>

    <p><strong>Password:</strong> identity  </p>
      


    <h2 class="govuk-heading-m">Description</h2>

<p>This service enables people to verify their identity with GOV.UK or at the Post Office.</p>

<p>Anyone who sets up, runs, owns, or files for a company registered at Companies House will need to verify their identity.</p>
    
<p class="govuk-body">This includes:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>a PSC</li>
    <li>a director</li>
    <li>the equivalent of a director – this includes members, general partners and managing officers</li>
    <li>a Companies House authorised agent - also known as an Authorised Corporate Service Provider (ACSP)</li>
    <li>someone who files for a company - for example, a company secretary</li>
  </ul>



  </div>
</div>
{% endblock %}