{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <h1 class="govuk-heading-xl">Verify your identity for Companies House</h1>
     
    <h2 class="govuk-heading-m">Prototype details</h2>

    <p class="govuk-body">
    <a href="https://prove-your-identity-prototype.herokuapp.com/" class="govuk-link">https://prove-your-identity-prototype.herokuapp.com/</a>
      </p>

    <p><strong>Password:</strong> identity  </p>
      


    <h2 class="govuk-heading-m">Description</h2>

<p>This service is for people who need to verify their identity for Companies House. This includes:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>PSCs</li>
    <li>directors</li>
    <li>the equivalent of a director – this includes members, general partners and managing officers</li>
    <li>someone who files for a company - for example, a company secretary</li>
  </ul>



  </div>
</div>
{% endblock %}