{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <h1 class="govuk-heading-xl">
      Companies House personal code</h1>
     
      <h2 class="govuk-heading-m">What a Companies House personal code is</h2>
      <p class="govuk-body">This is an 11 character code that is given to a person once they’ve verified their identity. The code is personal to you, not your company or a company you work for.</p>
      

       

      <h2 class="govuk-heading-m">Why you need a personal code and what to do with it</h2> 
      <p class="govuk-body">You'll need your personal code for various reasons. For example:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>as part of some company filings, such as the <a href="https://www.gov.uk/guidance/confirmation-statement-guidance" class="govuk-link" rel="noreferrer noopener" target="_blank">confirmation statement (opens in new tab)</a></li>
        <li>if you are appointed as a director</li>
        <li>if you become a <a href="https://www.gov.uk/guidance/people-with-significant-control-pscs#:~:text=A%20person%20with%20significant%20control,someone%20associated%20with%20your%20company." class="govuk-link" rel="noreferrer noopener" target="_blank">person with significant control (PSC) (opens in new tab)</a>
      </li>
      </ul>
      
      <p class="govuk-body">If you are a director or a PSC, you'll need to use your Companies House personal code to connect your verified identity to our records. This is a requirement, and will ensure that we know the correct person is linked to the name we have on file.</p> </p>
     
      <h2 class="govuk-heading-m">Keeping your code secure</h2>

      <h3 class="govuk-heading-s">Only share the code with people you trust</h3>

      <p class="govuk-body">You may need to share this code with people you trust to file on your behalf, or for your company. Keep this information secure, as you would with other unique codes such as your Unique Taxpayer Reference (UTR) for HMRC.</p>
      <p class="govuk-body">Identity verification makes it much more difficult for criminals to impersonate someone, but not impossible.</p>  

      <h2 class="govuk-heading-m">Explaining the difference between personal code and authentication code</h2>
      <p class="govuk-body">Your personal code is not the same as the <a href="https://www.gov.uk/guidance/company-authentication-codes-for-online-filing" class="govuk-link">company authentication code</a>. If you have an authentication code, you should continue to keep this safe as you'll need it to file online. You may need your personal code for some online filings as well.</p>

      <h2 class="govuk-heading-m">Where to find the Companies House personal code <strong class="govuk-tag govuk-tag--yellow">
        TBC</strong></h2>
      <p class="govuk-body">This is an 11 character code that is given to a person once they have verified their identity.</p>
      <!--<p class="govuk-body">You can find your code in the ‘Manage account’ section of your Companies House account. You’ll need to sign in using the email address you provided when you verified.</p>  -->

      <h2 class="govuk-heading-m">If you do not have a Companies House account <strong class="govuk-tag govuk-tag--yellow">
        TBC
      </strong></h2> 

      <h2 class="govuk-heading-m">If you’re giving us someone else’s code  <strong class="govuk-tag govuk-tag--yellow">
        TBC
      </strong></h2> 

      <h2 class="govuk-heading-m">If you’ve lost your Companies House personal code <strong class="govuk-tag govuk-tag--yellow">
        TBC
      </strong></h2> 
      <p class="govuk-body">***Find out how users can request a new code / cancel an existing code – what happens if they don’t have / cannot set up a CH account to view their existing code.  </p>


  </div>
</div>
{% endblock %}