{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Enforcement and penalties</h1>
     
      <h2 class="govuk-heading-m">What happens if you do not verify your identity in time</h2>
      
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          If you do not comply with identity verification requirements on time, you will be committing an offence and may have to pay a financial penalty or fine.
        </strong>
      </div>
      
      <p class="govuk-body">You will also be unable to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>make any filings for your company or entity </li>
        <li>start a new company or entity </li>
        <li>register as a Companies House authorised agent (also known as an Authorised Corporate Service Provider, or ACSP) </li>
      </ul>

      <h2 class="govuk-heading-m">Directors</h2>
      <p class="govuk-body">If you continue to act as a director after the deadline without verifying, you will be committing an offence. The company (or entity) and all directors may also be committing an offence.</p>
      
      <h2 class="govuk-heading-m">People with significant control (PSCs)</h2>
      <p class="govuk-body">If you continue to be a PSC after the deadline without verifying, you will be committing an offence.</p>

<!--
      <h2 class="govuk-heading-m">Relevant legal entities (RLEs)</h2>
      <p class="govuk-body">If the RLE does not comply with the requirement to provide information about its relevant officer, all its company directors (or equivalent) will be committing a criminal offence and may have to pay a fine. </p> -->

  </div>
</div>
{% endblock %}