{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Evidence for verifying your identity</h1>
     
      <h2 class="govuk-heading-m">Online</h2>
      
      <p class="govuk-body">You'll need one of the following types of photo ID:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>biometric passport from any country</li>
        <li>UK photo driving licence (full or provisional)</li>
        <li>UK <a href="https://www.gov.uk/biometric-residence-permits" class="govuk-link">biometric residence permit (BRP)</a></li>
        <li>UK <a href="https://www.gov.uk/uk-residence-card" class="govuk-link">biometric residence card (BRC)</a></li>
        <li>UK <a href="https://www.gov.uk/frontier-worker-permit" class="govuk-link">Frontier Worker permit (FWP)</a></li>
      </ul>

      <p>You'll also need your current address, and the year you moved in.</p>

      <h3 class="govuk-heading-s">How to verify if you do not have these types of photo ID</h3>

      <p class="govuk-body">If you do not have any of these types of photo ID but live in the UK, use this GOV.UK service to find out if you can verify in one of the following ways:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>in person at the Post Office</li>
  <li>with bank or building society details - you'll then need to provide your National Insurance number and answer some security questions</li>
</ul>
      
      <h2 class="govuk-heading-m">In person at the Post Office</h2>

      <p class="govuk-body">You'll need one type of photo ID, such as a:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>passport</li>
        <li>UK or EU photo driving licence (full or provisional)</li>
        <li>UK <a href="https://www.gov.uk/biometric-residence-permits" class="govuk-link">biometric residence permit (BRP)</a></li>
        <li>national identity photocard from the EU, Norway, Iceland and Liechtenstein</li>
      </ul>
  
      <h2 class="govuk-heading-m">Using a Companies House authorised agent</h2>
      <p class="govuk-body">You can ask a Companies House authorised agent (such as an accountant or solicitor) to verify your identity on your behalf. This is also known as an Authorised Corporate Service Provider (ACSP). You can do this from any country, but your agent must register with Companies House in order to become authorised. They must be registered with a UK Anti-Money Laundering (AML) supervisory body. 
        
       <p> You’ll need to provide suitable identity documents. They will charge a fee for their services.</p>

      <p>[Will also need to add Additional Route info when we know what this process will be]</p>

  </div>
</div>
{% endblock %}