{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <h1 class="govuk-heading-xl">
      How to write about IDV</h1>
      <p class="govuk-body-l">This guide is for people who are writing content for online services, guidance and external communications.</p>


      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/how-to-write-about-idv/verifying-for-ch" class="govuk-link govuk-link--no-visited-state">Verifying your identity for Companies House</a>
        </li>
        <li>
          <a href="/how-to-write-about-idv/ch-idv-standard" class="govuk-link govuk-link--no-visited-state">Companies House identity verification standard </a> <strong class="govuk-tag govuk-tag--yellow">
            TBC
          </strong>
        </li>
        <li>
          <a href="/how-to-write-about-idv/verification-statement" class="govuk-link govuk-link--no-visited-state">Verification statement </a>
        </li>
        <li>
          <a href="/how-to-write-about-idv/ch-personal-code" class="govuk-link govuk-link--no-visited-state">Companies House personal code
        </li>
        <li>
          <a href="/how-to-write-about-idv/enforcement-penalties" class="govuk-link govuk-link--no-visited-state">Enforcement and penalties</a>
        </li>
        <li>
          <a href="/how-to-write-about-idv/evidence" class="govuk-link govuk-link--no-visited-state">Evidence for verifying your identity </a>
        </li>
       <!-- <li>
          <a href="/how-to-write-about-idv/relevant-officer" class="govuk-link govuk-link--no-visited-state">Relevant officer</a>
        </li>
        <div id="passport-issued-hint" class="govuk-hint">
          In relation to a relevant legal entity (RLE), not authorised agents.
        </div>
        <li>
          <a href="/how-to-write-about-idv/dates" class="govuk-link govuk-link--no-visited-state">Dates by which you need to do IDV-related tasks  </a>
        </li>
        <div id="passport-issued-hint" class="govuk-hint">
          For example, when PSCs need to verify and provide their codes by.
        </div>-->
  </ul>

 

  </div>
</div>
{% endblock %}