{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Relevant officer</h1>
 
    <h2 class="govuk-heading-m">Explaining who the relevant officer is </h2>
    <p class="govuk-body">The relevant officer must be a director of the entity, or someone whose roles and responsibilities correspond to that of a company director. They must be aged 16 or over. </p>
      

  </div>
</div>
{% endblock %}