{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Security and fraud</h1>
     
    <h2 class="govuk-heading-m">Identity fraud warning </h2>
    <p class="govuk-body">Do not sell or give away your identity to enable people you don't trust to set up or run a company. Criminals can take out loans and other debt in your name, and you will be legally responsible. </p>
      
    <h2 class="govuk-heading-m">Only share the personal code with people you trust </h2>
    <p class="govuk-body">You may need to share this code with people you trust to file on your behalf, or for your company. Keep this information secure, as you would with other unique codes such as your Unique Taxpayer Reference (UTR) for HMRC.  </p>

    <h2 class="govuk-heading-m">How to tell someone they’ve verified </h2>
    <p class="govuk-body">You have already verified your identity for Companies House. If you need your personal code, you can find it in the <a href="#" class="govuk-link">Manage account</a> section of your Companies House account.  </p>

    <h2 class="govuk-heading-m">What to do if your personal code has been compromised <strong class="govuk-tag govuk-tag--yellow">
      TBC
    </strong></h2> 

  </div>
</div>
{% endblock %}