{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <h1 class="govuk-heading-xl">
        Verifying your identity for Companies House</h1>
      <h2 class="govuk-heading-m">Telling people how to verify their identity</h2>
      <p class="govuk-body">You can use the
     <a href="#" class="govuk-link">Verify your identity for Companies House</a> service to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>verify online </li>
        <li>find out how to verify in person at a Post Office </li>
      </ul>

      <p>Another option is to ask a <a href="#" class="govuk-link">Companies House authorised agent</a> (such as an accountant or solicitor) to verify your identity for you. This is also known as an Authorised Corporate Service Provider (ACSP).</p>

      <p>[Will also need to add Additional Route info when we know what this process will be]</p>

      <h2 class="govuk-heading-m">Why people need to verify their identity</h2>
      <p class="govuk-body">You need to verify your identity to confirm you are who you say you are. This will:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>reduce the risk of fraud</li>
        <li>improve transparency, trust and accuracy of information on the Companies House register</li>
      </ul>

      <h2 class="govuk-heading-m">Who needs to verify their identity</h2>
      <div id="email-hint" class="govuk-hint">
        These are the roles that will need to verify their identity once IDV has been fully implemented.
      </div>
      <p class="govuk-body">You need to verify your identity if you are:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a person with significant control (PSC)</li>
        <li>a director</li>
        <li>the equivalent of a director – this includes members, general partners and managing officers</li>
        <li>someone who files for a company</li>
        <li>applying to register as a Companies House authorised agent (also known as an Authorised Corporate Service Provider, or ACSP)</li>
      </ul>

      <h2 class="govuk-heading-m">What someone needs to do once they have verified their identity <strong class="govuk-tag govuk-tag--yellow">
        TBC
      </strong></h2> 

<p>Content to explain that successfully verifying their identity doesn’t mean they’ll automatically comply with the legislations – they need to use personal code to confirm they are verified.  </p>

<h2 class="govuk-heading-m">How users can set up a GOV.UK One Login if they’ve used an agent to verify <strong class="govuk-tag govuk-tag--yellow">
    TBC
  </strong></h2> 

  </div>
</div>
{% endblock %}