{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Verification statement</h1>
     
      <h2 class="govuk-heading-m">Directors and PSCs</h2>
      <p class="govuk-body">I confirm that [NAME] has verified their identity in accordance with the Companies Act 2006. </p>

      <!--
      <h2 class="govuk-heading-m">Relevant officers (legal entities)</h2>
      <p class="govuk-body">[RLE name] has confirmed that [relevant officer name] is the relevant officer of this entity.</p>
      <p class="govuk-body">[relevant officer name] has confirmed that they are a relevant officer of [RLE name].</p> -->

  </div>
</div>
{% endblock %}