{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <h1 class="govuk-heading-xl">
      How to write about Companies House identity verification (IDV)</h1>
      <h3 class="govuk-heading-m">Contents</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/how-to-write-about-idv/index" class="govuk-link govuk-link--no-visited-state">How to write about IDV</a>
        </li>
        <li>
          <a href="content-pattern-library/confirm-company" class="govuk-link govuk-link--no-visited-state">A-Z style guide of IDV terms</a>
        </li>
        <li>
          <a href="/idv-services/index">IDV services</a>
          
        </li>
        <div id="passport-issued-hint" class="govuk-hint">
          What they’re called, and what they’re for
        </div>
  </ul>

       
  

  </div>
</div>
{% endblock %}
