{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <h1 class="govuk-heading-xl">
      How to write about Companies House identity verification (IDV)</h1>
      <h3 class="govuk-heading-m">Contents</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/content-pattern-library/sign-in">Sign in</a>
        </li>

        <li>
          <a href="/content-pattern-library/company-number" class="govuk-link govuk-link--no-visited-state">Company number</a>
        </li>
        <li>
          <a href="/content-pattern-library/confirm-company" class="govuk-link govuk-link--no-visited-state">Confirm company</a>
        </li>
  </ul>

       
  

  </div>
</div>
{% endblock %}
